/* m-query for tablets */
@media screen and (max-width: 800px) {

    .song{
        width: calc(100% / 4);
    }
}


/* m-query for small tablets */

@media  screen and (max-width: 550px) {
    .song{
        width: calc(100% / 2);
    }
}

/* m-query for phones */

@media screen and (max-width: 355px) {
    aside{
        width: 50px;
        align-items: center;
    }

    aside .top-aside .menu ul li span,
    aside .top-aside .playlist ul li span,
    aside .bottom-aside .apps span,
    aside .bottom-aside .profile span {
    display: none;
}

aside .top-aside .logo .big-logo{
    display: none;
}

aside .top-aside .logo .small-logo{
    display: block;
}

aside .bottom-aside .apps{
    text-align: center;
}

    section{
        width: calc(100% - 50px);
    }

    .top-section{
        width: calc(100% - 50px);
    }
}