.float-left{
    float: left;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

li:hover{
    color: white;
}

.active{
    border-left: 2px solid #B9FF3E;
}

/* SECTION */

.albums{
    flex-wrap: wrap;
    padding: 20px 0;
}

h2{
    padding: 10px 0;
}
